.main {
    width: 900px;
    margin: 0 auto;
    text-indent: 28px;
    line-height: 1.8;
    color: #9c9c9c;
    font-size: 14px;
    font-family: '微软雅黑'
}

.sub-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #01aced;
}

.img-responsive{
    margin-top: 20px;
}

.footer {
    position: initial;
}