.headerH {
    width: 100%;
    position: relative;
    height: 70px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    line-height: 70px;
    z-index: 99;
}

.aregister {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    border-radius: 25px;
    background: #4cc3f1;
}

.aregister:hover {
    color: #fff;
}

.alogin {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    border-radius: 25px;
    background: #5f83f1;
}

.alogin:hover {
    color: #fff;
}

.headLogoBlue {
    box-shadow: 0px -5px 15px #000
}

.headLogoWhite .headLogo {
    color: #fff;
}

.headLogoBlue .headLogo {
    color: #01aced;
}

.headLogo {
    float: left;
    vertical-align: middle;
    font-size: 20px;
}

.headLogo label {
    font-weight: initial;
    cursor: pointer;
}

.headLogo label img {
    margin-right: 5px;
    vertical-align: middle;
}

.headLogo span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.headNav {
    float: left;
    margin-left: 10%;
}

.headNav ul li {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    height: 70px;
    margin: 0 5px;
}

.headNav ul li a {
    display: inline-block;
    opacity: 0.6;
}

.headNav ul li:hover a {
    opacity: 1;
}

.headLogoWhite .headNav a {
    color: #fff;
}

.headLogoBlue .headNav a {
    color: #333;
}

.navOn {
    border-bottom: 3px solid #01aced;
}

.headLogoWhite .navOn a {
    opacity: 1;
    color: #fff;
}

.headLogoBlue .navOn a {
    opacity: 1;
    color: #01aced;
}

.headLogoWhite .headUser {
    color: #fff;
}

.headLogoBlue .headUser {
    color: #01aced;
}

.headUser {
    float: right;
    cursor: pointer;
}

.headUser i {
    font-size: 16px;
    margin-right: 5px;
}

.headUser_name {
    display: inline-block;
    margin-right: 10px;
}

.headLogoBlue .headUser_name span {
    color: #333;
}

.signOut {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    display: none;
}

.signOut i {
    position: absolute;
    right: 50px;
    top: 50px;
    color: #fff;
    font-size: 20px;
}

.signOut ul {
    position: absolute;
    right: 0;
    top: 64px;
    width: 100px;
    background: #fff;
    text-align: center;
}

.signOut ul li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.signOut ul li a {
    color: #666;
    display: block;
}

.signOut ul li:hover {
    background: #eff2fe;
}

.hide {
    display: none;
}


/* add by liy start */

#renderPdf {
    border: none;
    border-radius: 4px;
    background-color: #74c2e1;
    font-size: 14px;
    color: #fff;
    padding: 4px 8px;
    display: block;
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}

.det_score_div {
    display: inline-block;
    width: 200px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 280px;
    left: 103px;
    z-index: 990;
    font-size: 72px;
    font-family: "黑体";
    color: #fff;
    text-align: center;
}

.svg_text_div {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 140px;
    left: 458px;
    z-index: 9999;
    font-size: 12px;
    color: #494a3d;
    text-align: center;
}

.svg_text_div2 {
    top: 220px;
    left: 514px;
}

.svg_text_div3 {
    top: 325px;
    left: 530px;
}

.svg_text_div4 {
    top: 425px;
    left: 513px;
}

.svg_text_div5 {
    top: 510px;
    left: 457px;
}

.triangle-arrow {
    width: 0px;
    height: 0px;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-right: 30px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 25px solid #dddaf4;
    position: absolute;
    top: 462px;
    left: 337px;
    z-index: 990;
}

.pdfTip {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    font-size: 40px;
}

.pdfTip>div {
    margin: auto;
    position: relative;
    top: 50%;
    color: #f4f4f4;
}


/* add by liy end */


/*页脚部分 footer 样式*/

.footer {
    background: #0bafdc;
    position: initial;
    color: rgba(255, 255, 255, 0.8);
    padding: 15px 0 25px 0;
}

.footer_white {
    color: #524746;
    padding: 15px 0 25px 0;
    width: 100%;
    text-align: center;
}

.footer_blue {
    color: #ffffff;
    padding: 15px 0 25px 0;
    width: 100%;
    text-align: center;
}


/*提示*/

.hint {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: red;
    text-align: center;
    font-size: 14px;
}


/*模态框样式   题目页放弃本次诊断*/

.modal_header {
    background-color: #eff2fe;
}

.modal_title {
    background-color: #eff2fe;
}

.icon_img {
    margin-right: 10px;
}

.modal_body {
    text-align: center;
    padding-bottom: 70px;
}

.modal_hints {
    width: 100%;
    height: 130px;
    line-height: 130px;
    text-align: center;
}

.pre_cancel,
.pre_continue {
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 0;
    border-radius: 8px;
    margin: 0 10px;
}

.pre_cancel {
    background-color: #eff2fe;
    color: #9096aa;
}

.pre_continue {
    background-color: #01aced;
    color: #f5fafe;
}