.resultCon .bMConTitle {
    border-bottom: 1px solid #f9d31a;
    position: relative;
}

.resultCon {
    border-bottom: 5px solid #f9d31a;
}

.resultCon .bMConTitle::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -19px;
    margin-left: -15px;
    left: 50%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 19px solid #f9d31a;
}

.resultConH3 {
    text-align: center;
    margin: 50px 0 50px 0;
}

.resultCenter {
    margin: 0 50px;
}

.resultCenTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
}

.resultCenTitle::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 4px;
    margin-left: -18px;
    left: 50%;
    bottom: -8px;
    border-radius: 25px;
    background: #f9d31a;
}

.rC_subtitle {
    color: #5388f0;
    font-size: 18px;
}

.rC_subtitlea {
    font-size: 14px;
    color: #d5d8e0;
    font-family: Arial;
}

.resultCenCon {
    padding: 30px;
    margin-bottom: 60px;
    border: 2px dashed #bfbfbf;
}

.companyInfo {
    padding: 5px;
    width: 33.33%;
    float: left;
    color: #8b909a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.companyInfo>span {
    color: #454953;
}

.companyScore,
.companyChart {
    width: 50%;
    float: left;
}

.companyScore {
    margin: 89px 0;
}


/* 圆形进度条 */

.circle {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-top: 30px;
    background: -webkit-linear-gradient(top, #5f83f1, #01aced);
}

.pie_left,
.pie_right {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

.left,
.right {
    width: 180px;
    height: 200px;
    background: #f2f2f2;
}

.left {
    position: relative;
    top: 0;
    left: 0;
}

.right {
    position: relative;
    top: 0;
    left: 200px;
}

.pie_right,
.right {
    clip: rect(0, auto, auto, 90px);
}

.pie_left,
.left {
    clip: rect(0, 90px, auto, 0);
}

.mask {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    left: 9px;
    top: 9px;
    background: #FFF;
    position: absolute;
    text-align: center;
    color: #5B6383;
    font-size: 12px;
    padding: 50px 0;
}

.evalStatus {
    font-size: 30px;
    line-height: 30px;
    color: #3a3f52;
    margin-top: 10px;
}

.score {
    float: left;
    padding-left: 40px;
    color: #3a3f52;
}

.score div:first-child {
    margin-top: 70px;
}

.score_big {
    font-size: 72px;
    font-family: Arial;
    color: #23b7e5;
    position: relative;
    padding-left: 20px;
}

.score_big::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #23b7e5;
    position: absolute;
    left: 0;
    top: 25px;
}

.color71 {
    color: #71737b;
    line-height: 30px;
}

.color3a {
    line-height: 30px;
}

.score_item span {
    width: 33.33%;
    float: left;
    line-height: 30px;
}

.chartTxt {
    position: relative;
}

.chartTxt_item {
    position: absolute;
    right: 5%;
    top: 20px;
    line-height: 30px;
    color: #828695;
}

.chartTxt_item::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #23b7e5;
    position: absolute;
    left: -19px;
    top: 6px;
}

.chartTxtNo span {
    font-size: 24px;
    color: #3a3f52;
    font-family: Arial;
}

.industryChart,
.chartTxt,
.scaleChart {
    width: 100%;
    height: 200px;
}

.resultCenTab {
    height: 48px;
}

.rCenTab_item {
    width: 20%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.rCenTab_itemBg {
    width: 95%;
    height: 48px;
    line-height: 48px;
    background: #e4f0f4;
    border-radius: 3px 3px 0 0;
    color: #313339;
    display: inline-block;
}

.rCenTaba {
    float: left;
}

.rCenTabe {
    float: right;
}

.tabIcon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url("../images/buildModelIcon.png") no-repeat;
}

.rCenTaba .tabIcon {
    width: 22px;
    height: 16px;
    vertical-align: sub;
    background-position: -443px -686px;
}

.rCenTabas .tabIcon {
    width: 22px;
    height: 16px;
    vertical-align: sub;
    background-position: -443px -686px;
}

.rCenTabb .tabIcon {
    width: 18px;
    height: 22px;
    background-position: -491px -683px;
}

.rCenTabc .tabIcon {
    width: 18px;
    height: 25px;
    background-position: -531px -680px;
}

.rCenTabd .tabIcon {
    width: 22px;
    height: 22px;
    background-position: -575px -682px;
}

.rCenTabe .tabIcon {
    width: 22px;
    height: 20px;
    background-position: -619px -683px;
}

.rCenTabes .tabIcon {
    width: 22px;
    height: 20px;
    background-position: -619px -683px;
}

.rCenTabOn .rCenTab_itemBg {
    background: #e8c30f;
    color: #fff;
    position: relative;
}

.rCenTabOn .rCenTaba .tabIcon {
    background-position: -443px -723px;
}

.rCenTabOn .rCenTabas .tabIcon {
    background-position: -443px -723px;
}

.rCenTabOn .rCenTabb .tabIcon {
    background-position: -491px -720px;
}

.rCenTabOn .rCenTabc .tabIcon {
    background-position: -531px -717px;
}

.rCenTabOn .rCenTabd .tabIcon {
    background-position: -575px -719px;
}

.rCenTabOn .rCenTabe .tabIcon {
    background-position: -619px -720px;
}

.rCenTabOn .rCenTabes .tabIcon {
    background-position: -619px -720px;
}

.rCenTabOn .rCenTab_itemBg::after {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid #e8c30f;
    margin-left: -15px;
    left: 50%;
    bottom: -12px;
}

.resultCenConOn {
    border: 2px dashed #e8c30f;
    border-top: 2px solid #e8c30f;
}

.rCenTabTop {
    padding-bottom: 15px;
    border-bottom: 1px dashed #e8c30f;
}

.rCenTabTop_left {
    float: left;
    width: 330px;
    padding-right: 20px;
    padding-top: 30px;
}

.rCenTabTop_score {
    width: 85px;
    height: 105px;
    text-align: center;
    color: #fff;
    float: left;
    margin-right: 15px;
}

.rCenTabTop_sNo {
    width: 100%;
    height: 70px;
    background: #23b7e5;
    font-size: 48px;
    line-height: 70px;
    font-family: Arial;
}

.rCenTabTop_sTxt {
    background: 35px;
    line-height: 35px;
    background: #5388f0;
    font-size: 18px;
}

.rCenTabTop_scoreRight {
    padding-top: 55px;
    color: #b3c3c8;
    line-height: 25px;
    float: left;
}

.color23 {
    color: #23b7e5;
}

.color53 {
    color: #5388f0;
}

.gaugeChart {
    width: 33.33%;
    float: left;
}

.gaugeChart div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.rCenTabTop_right {
    width: 706px;
    float: left;
}

.pieChart {
    width: 50%;
    height: 200px;
    float: left;
}


/***************************************************************/

h3 {
    /*width: 100%;*/
    text-align: center;
    margin: 50px 0 50px 0;
}

.basicInfo {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 60px;
    border: 2px dashed #bfbfbf;
}

.basicInfo>div {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.basicInfo>div>p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.consequence {
    width: 80%;
    margin: 0 auto;
    border: 1px dashed #DFDFDF;
    padding: 30px;
}

.typerde {
    color: #313339;
    margin-top: 10px;
    line-height: 50px;
}

.leftl {
    width: 20%;
    height: 203px;
    padding: 0px 0 0 70px;
    display: inline-block;
}

.leftl>div {
    margin: 10px 0 0 0
}

.hinted {
    display: inline-block;
    width: 150px;
    line-height: 60px;
}

.scores {
    background-color: #5388F0;
    display: inline-block;
    width: 100px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
}

.score_true {
    font-size: 30px;
}

.score_grade {
    font-size: 18px;
}

.rightl {
    display: inline-block;
    width: 70%;
    height: 243px;
    background-color: #F7F7F7;
   padding: 45px 0 0 0;
    position: relative;
    top: -35px;
}

.rightl>div {
    width: 30%;
    display: inline-block;
    text-align: center;
}

.pre {
    position: absolute;
    top: 0;
    left: 10%;
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #6386f1;
    color: #6386f1;
    background-color: #f7f9ff;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.Undata {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}