body {
    width: 100%;
    height: 100%;
    background-image: url('../img/bgn4@1x.jpeg');
    background-size: 100% 100%;
}

main {
    width: 100%;
    padding: 50px 155px 0;
    color: #333333;
}

.main_content {
    width: 100%;
    padding: 50px 155px 0;
    color: #333333;
}

.typeName {
    line-height: 70px;
    width: 1200px;
    margin: 0 auto;
}

.topic_conent {
    width: 1200px;
    /*height: 750px;*/
    background-color: #ffffff;
    margin: 0 auto;
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: #d3daee;
    margin-bottom: 20px;
}

.progressBar>div {
    height: 100%;
    background-color: #6282e7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.pre_topic {
    float: left;
    width: 50px;
    height: 50px;
    margin: 50px;
    border-radius: 50%;
    border: 2px solid #5f83f1;
    color: #5f83f1;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
}

.question_number {
    float: right;
    width: 100px;
    height: 50px;
    margin: 25px;
    font-size: 18px;
    pointer-events: none;
    cursor: default;
}

.question_number>span:nth-child(1) {
    font-size: 43px;
    color: #5f83f1;
}

#topic_titles {
    /*min-height: 600px;*/
}

.topic_title {
    margin: 0 150px 20px;
    padding: 20px 0 0 0;
    display: none;
}

.topic_title>h3 {
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
    pointer-events: none;
    cursor: default;
}

.topic_options {
    margin-top: 20px;
    line-height: 45px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    pointer-events: none;
    cursor: default;
}

.topic_situation {
    width: 100%;
    height: 60px;
}

.situation_target {
    width: 100%;
    height: 135px;
}

.topic_situation>span {
    display: inline-block;
    width: 130px;
    height: 50px;
    margin: 4px 0;
    background-color: red;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.topic_situation>span:nth-child(1) {
    border-left: 5px solid #afc1f8;
    color: #9baff5;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

#topic_titles .sitTar_pitch_Up {
    background-color: #5f83f1;
    color: #ffffff;
}

.topic_situation>span:nth-child(2) {
    background-color: #eaeef7;
    color: #5a6997
}

.topic_situation>span:nth-child(3) {
    background-color: #d5dcef;
}

.topic_situation>span:nth-child(4) {
    background-color: #c1cae7;
}

.topic_situation>span:nth-child(5) {
    background-color: #acb9df;
}

.topic_situation>span:nth-child(6) {
    background-color: #9eadd9;
}

.topic_situation>span:nth-child(7) {
    background-color: #91a1d4;
}

.review_instructions>span {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    pointer-events: none;
    cursor: default;
}

.fontLength {
    float: right;
    margin-right: 45px;
    margin-top: 10px;
    color: #999999;
    z-index: 100;
    pointer-events: none;
    cursor: default;
}

.next_topic {
    cursor: pointer;
    width: 100%;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #34bdf1;
    font-size: 20px;
    font-weight: bold;
}


/*综合评价*/

.comprehensive_assessment {
    padding-top: 50px;
}

.comprehensive_assessment>p {
    line-height: 55px;
    font-size: 16px;
}

.hint {
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
    color: red;
}


/*模态框内  样式*/
/*
#hints {
    line-height: 130px;
}

next_cancel,
#pre_cancel,
cancel {
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 0px;
    border-radius: 8px;
    background-color: #eff2fe;
    color: #9096aa;
    margin-right: 35px;
}

#next_continue,
#pre_continue,
.continue {
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 0px;
    border-radius: 8px;
    background-color: #01aced;
    color: #f5fafe;
}


textarea{
    width: 86%;
}

#textareasyns{
   width: 95%;
   height: 450px;
}*/